@model WorktimeRegister.Models.Worktimes

@{
    ViewBag.Title = "Set Worktimes";
}

<h2>Set Worktimes</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Set Worktimes</legend>
        <p>
            <input type="submit" value="Arrive" />
        </p>
    </fieldset>
}

@if (Model != null)
{
    @Html.Partial("_Edit", Model)
}



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
