@model WorktimeRegister.Models.Worktimes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Worktimes</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Arrival)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Arrival)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Leaving)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Leaving)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
