@model WorktimeRegister.Models.Worktimes

@{
    ViewBag.Title = "CreateUserWorktime";
}

<h2>Create User Worktime</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Worktimes</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Date, new { id = "datepicker" })
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Arrival)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Arrival)
            @Html.ValidationMessageFor(model => model.Arrival)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Leaving)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Leaving)
            @Html.ValidationMessageFor(model => model.Leaving)
        </div>

        @Html.HiddenFor(model => model.UserId)

        <p>
            <input class="submitButton" type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/uiscripts")
}
