@model WorktimeRegister.Models.Worktimes

@{
    ViewBag.Title = "DeleteUserWorktime";
}

<h2>Delete User Worktime</h2>

<h3>Are you sure you want to delete this worktime?</h3>
<fieldset>
    <legend>Worktimes</legend>

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.UserId)

    <div>
        @Html.LabelFor(model => model.Date)
    </div>
    <div>
        @Html.TextBoxFor(model => model.Date, "{0:yyyy.MM.dd}", new { @readonly = true, @class = "readonly" })
    </div>
    <div>
        @Html.LabelFor(model => model.Arrival)
    </div>
    <div>
        @Html.TextBoxFor(model => model.Arrival, "{0: hh:mm:ss}", new { @readonly = true, @class = "readonly" })
    </div>
    <div>
        @Html.LabelFor(model => model.Leaving)
    </div>
    <div>
        @Html.TextBoxFor(model => model.Leaving, "{0: HH:mm:ss}", new { @readonly = true, @class = "readonly" })
    </div>
</fieldset>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input class="submitButton" type="submit" value="Delete" /> 
        @Html.ActionLink("Back to Worktimes", "SearchWorktime", new { userId = Model.UserId })
    </p>
}
