@model IEnumerable<WorktimeRegister.Models.UserProfile>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

@{
    var list = new List<SelectListItem>();
    foreach (var item in Model)
    {
        list.Add(new SelectListItem() { Text = item.FirstName + " " + item.LastName + " (" + item.UserName + ")", Value = item.UserName });
    }
}

@using (@Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @*Mukodik: @Html.DropDownList("Select a username..", new SelectList(Model.Select(i=>i.UserName)))*@
    <div>
        @Html.DropDownList("SelectUser", list, "Select a user..", new { @class = "dropDownList" })
    </div>
    <input type="submit" value="Search" />
}

<div id="wrapper">
    <table id="likeTodayTable" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlaceOfBirth )
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </th>

                <th>Etc.</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Request.Form["SelectUser"] != null && Request.Form["SelectUser"] != "")
                {
                    var user = new WorktimeRegister.Models.UserProfile();
                    foreach (var item in Model)
                    {
                        if (item.UserName == Request.Form["SelectUser"])
                        {
                            user = item;
                        }
                    }
                    @Html.Partial("_UsersTable", user)
                }
                else
                {
                    foreach (var item in Model)
                    {
                        @Html.Partial("_UsersTable", item)
                    }
                }
            }

        </tbody>
    </table>
</div>