@model WorktimeRegister.Models.Company

@{
    ViewBag.Title = "Company";
}

<h2>Company</h2>

<fieldset>
    <legend>Company</legend>

    <div>
        @Html.LabelFor(model => model.Name)
    </div>
    <div>
        @Html.TextBoxFor(model => model.Name, new { @readonly = true, @class = "readonly" })
    </div>
    <div>
        @Html.LabelFor(model => model.Country)
    </div>
    <div>
        @Html.TextBoxFor(model => model.Country, new { @readonly = true, @class = "readonly" })
    </div>
    <div>
        @Html.LabelFor(model => model.PostCode)
    </div>
    <div>
        @Html.TextBoxFor(model => model.PostCode, new { @readonly = true, @class = "readonly" })
    </div>
    <div>
        @Html.LabelFor(model => model.City)
    </div>
    <div>
        @Html.TextBoxFor(model => model.City, new { @readonly = true, @class = "readonly" })
    </div>
    <div>
        @Html.LabelFor(model => model.Address)
    </div>
    <div>
        @Html.TextBoxFor(model => model.Address, new { @readonly = true, @class = "readonly" })
    </div>
    <div>
        @Html.LabelFor(model => model.Email)
    </div>
    <div>
        @Html.TextBoxFor(model => model.Email, "{0:yyyy.MM.dd}", new { @readonly = true, @class = "readonly" })
    </div>
    @if(Roles.GetRolesForUser(User.Identity.Name).Contains("Admin")){
        @Html.ActionLink("Edit", "EditCompany", new { id = Model.Id})
    }
</fieldset>
