@model IEnumerable<WorktimeRegister.Models.Worktimes>

@{
    ViewBag.Title = "Today's Workers";
}

<div id="wrapper">
    <h1>Today's Workers</h1>

    <table id="likeTodayTable" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserProfile.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserProfile.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserProfile.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Arrival)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Leaving)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserProfile.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserProfile.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserProfile.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Arrival)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Leaving)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @*own bundle and scripts*@
    @Scripts.Render("~/bundles/uiscripts")
    @*<script src="@Url.Content("~/Scripts/tableSorter.js")"></script>*@
}